In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# import statsmodels.api as sm
import QUANTAXIS as QA
import talib as ta
import datetime #, time

In [2]:
plt.rcParams['figure.figsize'] = [12, 8]
plt.rcParams['image.interpolation'] = 'nearest'
plt.rcParams['image.cmap'] = 'gray'

In [3]:
start = '1990-01-01'
end = '2018-10-10'

In [4]:
data = QA.QA_fetch_stock_day_adv('000001', start, end)

In [6]:
QA.QA_indicator_ATR??

In [8]:
ta.EMA??

In [9]:
QA.EMA??

In [19]:
data_hfq = data.to_hfq()

In [20]:
data_hfq.data.tail()

,,open,high,low,close,volume,amount,if_trade,category,preclose,adj
date,code,,,,,,,,,,
2018-09-21,000001,917.993629,957.361777,910.835784,954.677585,18156.503652,1.707850e+09,1.0,1.0,915.309437,89.473063
2018-09-25,000001,941.256626,955.572316,937.677703,943.940817,10919.644017,1.030716e+09,1.0,1.0,954.677585,89.473063
2018-09-26,000001,949.309201,977.045851,941.256626,958.256508,16658.790317,1.600626e+09,1.0,1.0,943.940817,89.473063
2018-09-27,000001,952.888124,969.888006,945.730279,960.940700,9839.419461,9.422004e+08,1.0,1.0,958.256508,89.473063
2018-09-28,000001,964.519622,1008.361423,964.519622,988.677349,23585.221327,2.331358e+09,1.0,1.0,960.940700,89.473063

In [21]:
data_qfq = data.to_qfq()

In [23]:
data_qfq.data.head()

,,open,high,low,close,volume,amount,preclose,adj
date,code,,,,,,,,
1991-12-23,000001,0.309590,0.311826,0.308473,0.310708,113630.790351,3530600.0,NaN,0.011177
1991-12-24,000001,0.311826,0.327473,0.301767,0.324679,93946.716432,3050250.0,0.310708,0.011177
1991-12-25,000001,0.325796,0.335296,0.325238,0.327473,203014.380556,6648170.0,0.324679,0.011177
1991-12-26,000001,0.327473,0.327473,0.312943,0.312943,171609.335349,5370400.0,0.327473,0.011177
1991-12-27,000001,0.312943,0.318532,0.312943,0.317973,188340.798180,5988725.0,0.312943,0.011177

In [29]:
data_hfq.data.assign(check=data_hfq.data.close/data_hfq.data.adj).tail()

,,open,high,low,close,volume,amount,if_trade,category,preclose,adj,check
date,code,,,,,,,,,,,
2018-09-21,000001,917.993629,957.361777,910.835784,954.677585,18156.503652,1.707850e+09,1.0,1.0,915.309437,89.473063,10.67
2018-09-25,000001,941.256626,955.572316,937.677703,943.940817,10919.644017,1.030716e+09,1.0,1.0,954.677585,89.473063,10.55
2018-09-26,000001,949.309201,977.045851,941.256626,958.256508,16658.790317,1.600626e+09,1.0,1.0,943.940817,89.473063,10.71
2018-09-27,000001,952.888124,969.888006,945.730279,960.940700,9839.419461,9.422004e+08,1.0,1.0,958.256508,89.473063,10.74
2018-09-28,000001,964.519622,1008.361423,964.519622,988.677349,23585.221327,2.331358e+09,1.0,1.0,960.940700,89.473063,11.05

In [30]:
data.data.tail()

                    open   high    low  close     volume        amount
date       code
2018-09-21 000001  10.26  10.70  10.18  10.67  1624518.0  1.707850e+09
2018-09-25 000001  10.52  10.68  10.48  10.55   977014.0  1.030716e+09
2018-09-26 000001  10.61  10.92  10.52  10.71  1490513.0  1.600626e+09
2018-09-27 000001  10.65  10.84  10.57  10.74   880363.0  9.422004e+08
2018-09-28 000001  10.78  11.27  10.78  11.05  2110242.0  2.331358e+09

由上面可以知道后复权/复权因子，可以得到实时价格。

所以用后复权的价格去计算出波动值N，然后算实际的头寸上限要用当时回测时候的价格

In [38]:
data.close.shift(-1).tail()

date        code
2018-09-21  000001    10.55
2018-09-25  000001    10.71
2018-09-26  000001    10.74
2018-09-27  000001    11.05
2018-09-28  000001      NaN
Name: close, dtype: float64

In [39]:
QA.REF(data.close, -1).tail()

date        code
2018-09-21  000001    10.55
2018-09-25  000001    10.71
2018-09-26  000001    10.74
2018-09-27  000001    11.05
2018-09-28  000001      NaN
Name: close, dtype: float64

In [41]:
QA.QA_indicator_ATR(data_hfq).tail()

                          TR        ATR
date       code
2018-09-21 000001  46.525993  25.052458
2018-09-25 000001  17.894613  23.262996
2018-09-26 000001  35.789225  23.390815
2018-09-27 000001  24.157727  23.902090
2018-09-28 000001  47.420724  25.691551

In [45]:
ATR_hfq = QA.QA_indicator_ATR(data_hfq)

In [46]:
ATR_hfq.assign(ATR_fixed=ATR_hfq.ATR / data_hfq.data.adj).tail()

                          TR        ATR  ATR_fixed
date       code
2018-09-21 000001  46.525993  25.052458   0.280000
2018-09-25 000001  17.894613  23.262996   0.260000
2018-09-26 000001  35.789225  23.390815   0.261429
2018-09-27 000001  24.157727  23.902090   0.267143
2018-09-28 000001  47.420724  25.691551   0.287143

In [47]:
QA.QA_indicator_ATR(data).tail()

                     TR       ATR
date       code
2018-09-21 000001  0.52  0.280000
2018-09-25 000001  0.20  0.260000
2018-09-26 000001  0.40  0.261429
2018-09-27 000001  0.27  0.267143
2018-09-28 000001  0.53  0.287143

In [48]:
ATR = QA.QA_indicator_ATR(data)

In [50]:
ATR.ATR

date        code
1991-12-23  000001         NaN
1991-12-24  000001         NaN
1991-12-25  000001         NaN
1991-12-26  000001         NaN
1991-12-27  000001         NaN
1991-12-28  000001         NaN
1991-12-30  000001         NaN
1992-01-02  000001         NaN
1992-01-03  000001         NaN
1992-01-06  000001         NaN
1992-01-07  000001         NaN
1992-01-08  000001         NaN
1992-01-09  000001         NaN
1992-01-10  000001         NaN
1992-01-13  000001    0.750000
1992-01-14  000001    0.632143
1992-01-15  000001    0.592857
1992-01-16  000001    0.539286
1992-01-17  000001    0.542857
1992-01-20  000001    0.528571
1992-01-21  000001    0.528571
1992-01-22  000001    0.521429
1992-01-23  000001    0.525000
1992-01-24  000001    0.517857
1992-01-27  000001    0.510714
1992-01-28  000001    0.475000
1992-01-29  000001    0.478571
1992-01-30  000001    0.485714
1992-02-01  000001    0.600000
1992-02-02  000001    0.610714
                        ...
2018-08-17  000001    0.238571
2018-08-20  000001    0.236429
2018-08-21  000001    0.227143
2018-08-22  000001    0.222857
2018-08-23  000001    0.222857
2018-08-24  000001    0.277857
2018-08-27  000001    0.290000
2018-08-28  000001    0.294286
2018-08-29  000001    0.283571
2018-08-30  000001    0.291429
2018-08-31  000001    0.283571
2018-09-03  000001    0.290714
2018-09-04  000001    0.305714
2018-09-05  000001    0.315000
2018-09-06  000001    0.317143
2018-09-07  000001    0.320000
2018-09-10  000001    0.317857
2018-09-11  000001    0.318571
2018-09-12  000001    0.315714
2018-09-13  000001    0.263571
2018-09-14  000001    0.242857
2018-09-17  000001    0.240714
2018-09-18  000001    0.258571
2018-09-19  000001    0.261429
2018-09-20  000001    0.257857
2018-09-21  000001    0.280000
2018-09-25  000001    0.260000
2018-09-26  000001    0.261429
2018-09-27  000001    0.267143
2018-09-28  000001    0.287143
Name: ATR, Length: 6324, dtype: float64

In [51]:
1e+4 / (ATR.ATR * 100)

date        code
1991-12-23  000001           NaN
1991-12-24  000001           NaN
1991-12-25  000001           NaN
1991-12-26  000001           NaN
1991-12-27  000001           NaN
1991-12-28  000001           NaN
1991-12-30  000001           NaN
1992-01-02  000001           NaN
1992-01-03  000001           NaN
1992-01-06  000001           NaN
1992-01-07  000001           NaN
1992-01-08  000001           NaN
1992-01-09  000001           NaN
1992-01-10  000001           NaN
1992-01-13  000001    133.333333
1992-01-14  000001    158.192090
1992-01-15  000001    168.674699
1992-01-16  000001    185.430464
1992-01-17  000001    184.210526
1992-01-20  000001    189.189189
1992-01-21  000001    189.189189
1992-01-22  000001    191.780822
1992-01-23  000001    190.476190
1992-01-24  000001    193.103448
1992-01-27  000001    195.804196
1992-01-28  000001    210.526316
1992-01-29  000001    208.955224
1992-01-30  000001    205.882353
1992-02-01  000001    166.666667
1992-02-02  000001    163.742690
                         ...
2018-08-17  000001    419.161677
2018-08-20  000001    422.960725
2018-08-21  000001    440.251572
2018-08-22  000001    448.717949
2018-08-23  000001    448.717949
2018-08-24  000001    359.897172
2018-08-27  000001    344.827586
2018-08-28  000001    339.805825
2018-08-29  000001    352.644836
2018-08-30  000001    343.137255
2018-08-31  000001    352.644836
2018-09-03  000001    343.980344
2018-09-04  000001    327.102804
2018-09-05  000001    317.460317
2018-09-06  000001    315.315315
2018-09-07  000001    312.500000
2018-09-10  000001    314.606742
2018-09-11  000001    313.901345
2018-09-12  000001    316.742081
2018-09-13  000001    379.403794
2018-09-14  000001    411.764706
2018-09-17  000001    415.430267
2018-09-18  000001    386.740331
2018-09-19  000001    382.513661
2018-09-20  000001    387.811634
2018-09-21  000001    357.142857
2018-09-25  000001    384.615385
2018-09-26  000001    382.513661
2018-09-27  000001    374.331551
2018-09-28  000001    348.258706
Name: ATR, Length: 6324, dtype: float64

In [53]:
QA.QA_indicator_ATR(QA.QA_fetch_stock_day_adv('300257',start,end).data).tail()

                     TR       ATR
date       code
2018-09-21 300257  0.38  0.484286
2018-09-25 300257  0.34  0.420000
2018-09-26 300257  0.46  0.412857
2018-09-27 300257  0.56  0.420714
2018-09-28 300257  0.17  0.389286

获取上证50成分股列表

In [86]:
stock_list = QA.QA_fetch_stock_list_adv()

In [56]:
import tushare as ts

In [58]:
df_sz50 = ts.get_sz50s()

C:\ProgramData\Anaconda3\lib\site-packages\tushare-1.2.12-py3.6.egg\tushare\stock\classifying.py:266: FutureWarning: the 'parse_cols' keyword is deprecated, use 'usecols' instead
  ct.PAGES['sz50b']), parse_cols=[0, 4, 5])

In [60]:
sz50_list = df_sz50.code.tolist()

In [61]:
sz50_list[:10]

['600000',
 '600016',
 '600019',
 '600028',
 '600029',
 '600030',
 '600036',
 '600048',
 '600050',
 '600104']

In [63]:
start1 = '2018-01-01'

In [64]:
data1 = QA.QA_fetch_stock_day_adv(sz50_list, start1, end)

In [114]:
data1_ATR = data1.add_func(QA.QA_indicator_ATR)

In [116]:
data1_ATR.xs('2018-09-28',level=0).ATR.mean()

0.8306857142857146

In [94]:
QA.QA_indicator_ATR(QA.QA_fetch_stock_day_adv('000001',start1,end).data)

                     TR       ATR
date       code
2018-01-02 000001   NaN       NaN
2018-01-03 000001  0.66       NaN
2018-01-04 000001  0.24       NaN
2018-01-05 000001  0.20       NaN
2018-01-08 000001  0.44       NaN
2018-01-09 000001  0.28       NaN
2018-01-10 000001  0.57       NaN
2018-01-11 000001  0.32       NaN
2018-01-12 000001  0.28       NaN
2018-01-15 000001  0.83       NaN
2018-01-16 000001  0.36       NaN
2018-01-17 000001  0.60       NaN
2018-01-18 000001  0.49       NaN
2018-01-19 000001  0.45       NaN
2018-01-22 000001  0.51  0.445000
2018-01-23 000001  0.57  0.438571
2018-01-24 000001  0.58  0.462857
2018-01-25 000001  0.64  0.494286
2018-01-26 000001  0.32  0.485714
2018-01-29 000001  0.65  0.512143
2018-01-30 000001  0.29  0.492143
2018-01-31 000001  0.52  0.506429
2018-02-01 000001  0.46  0.519286
2018-02-02 000001  0.47  0.493571
2018-02-05 000001  0.84  0.527857
2018-02-06 000001  0.62  0.529286
2018-02-07 000001  1.54  0.604286
2018-02-08 000001  0.39  0.600000
2018-02-09 000001  1.16  0.646429
2018-02-12 000001  0.28  0.625714
...                 ...       ...
2018-08-17 000001  0.16  0.238571
2018-08-20 000001  0.21  0.236429
2018-08-21 000001  0.26  0.227143
2018-08-22 000001  0.21  0.222857
2018-08-23 000001  0.19  0.222857
2018-08-24 000001  0.99  0.277857
2018-08-27 000001  0.46  0.290000
2018-08-28 000001  0.19  0.294286
2018-08-29 000001  0.18  0.283571
2018-08-30 000001  0.27  0.291429
2018-08-31 000001  0.22  0.283571
2018-09-03 000001  0.21  0.290714
2018-09-04 000001  0.48  0.305714
2018-09-05 000001  0.38  0.315000
2018-09-06 000001  0.19  0.317143
2018-09-07 000001  0.25  0.320000
2018-09-10 000001  0.23  0.317857
2018-09-11 000001  0.22  0.318571
2018-09-12 000001  0.15  0.315714
2018-09-13 000001  0.26  0.263571
2018-09-14 000001  0.17  0.242857
2018-09-17 000001  0.16  0.240714
2018-09-18 000001  0.43  0.258571
2018-09-19 000001  0.31  0.261429
2018-09-20 000001  0.17  0.257857
2018-09-21 000001  0.52  0.280000
2018-09-25 000001  0.20  0.260000
2018-09-26 000001  0.40  0.261429
2018-09-27 000001  0.27  0.267143
2018-09-28 000001  0.53  0.287143

[183 rows x 2 columns]

In [83]:
data1.data.xs('2018-09-28',level=0)

          open    high     low   close     volume        amount
code
600000   10.49   10.75   10.44   10.62   374306.0  3.968637e+08
600016    6.28    6.41    6.26    6.34   874780.0  5.549532e+08
600019    7.82    7.90    7.68    7.85   640992.0  4.986781e+08
600028    7.06    7.14    7.01    7.12  1010707.0  7.150799e+08
600029    6.69    6.76    6.69    6.76   486505.0  3.275676e+08
600030   16.58   16.83   16.54   16.69   728660.0  1.217501e+09
600036   30.67   31.11   30.30   30.69   556008.0  1.709813e+09
600048   12.29   12.51   12.00   12.17  1101684.0  1.352428e+09
600050    5.52    5.57    5.50    5.57   805410.0  4.465157e+08
600104   31.68   33.28   31.34   33.28   345685.0  1.114763e+09
600111    9.82   10.26    9.78   10.23   549274.0  5.562124e+08
600276   62.13   63.80   62.13   63.50   179392.0  1.136806e+09
600309   43.39   43.39   41.60   42.47   445878.0  1.898947e+09
600340   25.12   25.64   25.12   25.33   124577.0  3.169336e+08
600519  726.70  733.20  718.88  730.00    35089.0  2.551116e+09
600547   23.38   23.67   23.22   23.67    93804.0  2.203142e+08
600585   37.17   37.29   36.08   36.79   230949.0  8.469111e+08
600606    6.41    6.47    6.37    6.40   217550.0  1.399429e+08
600690   16.40   16.70   16.36   16.52   287074.0  4.737205e+08
600703   15.93   16.38   15.86   16.36   361673.0  5.871283e+08
600887   25.21   25.75   25.21   25.68   384125.0  9.836625e+08
600958    8.93    8.95    8.84    8.93    60070.0  5.352021e+07
600999   12.94   13.15   12.93   13.13    86692.0  1.133143e+08
601006    8.15    8.26    8.11    8.23   383023.0  3.141782e+08
601088   20.33   20.56   20.11   20.39   214930.0  4.380343e+08
601166   15.69   16.10   15.65   15.95   774792.0  1.233836e+09
601169    6.03    6.15    6.01    6.11   490446.0  2.987719e+08
601186   11.07   11.23   11.03   11.15   808978.0  9.010786e+08
601211   14.96   15.05   14.89   14.99   160979.0  2.411228e+08
601229   12.10   12.23   12.09   12.20   278018.0  3.387349e+08
601288    3.84    3.94    3.84    3.89  3461350.0  1.346751e+09
601318   67.50   69.10   67.44   68.50   739523.0  5.052836e+09
601328    5.82    5.89    5.81    5.84   854717.0  5.002099e+08
601336   49.40   51.38   49.14   50.48   197164.0  9.898070e+08
601360   26.20   26.70   26.17   26.44    72067.0  1.904869e+08
601390    7.73    7.84    7.67    7.77   320016.0  2.485892e+08
601398    5.69    5.80    5.68    5.77  2000095.0  1.149910e+09
601601   34.92   36.20   34.92   35.51   236896.0  8.417311e+08
601628   22.55   22.96   22.44   22.68    88266.0  2.001635e+08
601668    5.47    5.53    5.44    5.49   940679.0  5.165658e+08
601688   15.49   15.75   15.45   15.75   547252.0  8.567976e+08
601766    8.62    8.67    8.58    8.64   226960.0  1.959012e+08
601800   12.47   12.97   12.43   12.78   275715.0  3.504785e+08
601818    3.89    3.94    3.88    3.91   916292.0  3.586277e+08
601857    9.11    9.17    9.01    9.17   429773.0  3.905260e+08
601878    7.24    7.44    7.24    7.43   288532.0  2.121958e+08
601881    7.01    7.15    7.00    7.07   101016.0  7.152923e+07
601988    3.68    3.75    3.67    3.72  1985353.0  7.375528e+08
601989    4.24    4.26    4.23    4.25   520466.0  2.209941e+08
603993    4.60    4.61    4.51    4.56  1486141.0  6.759652e+08

In [91]:
all_stock_ATR = QA.QA_indicator_ATR(QA.QA_fetch_stock_day_adv(stock_list.index.tolist(),start1,end))#.xs('2018-09-28',level=0)

In [103]:
all_stock_ATR.xs(('000001'), level=1)

              TR        ATR
date
2018-01-02   NaN        NaN
2018-01-03  6.07  17.601429
2018-01-04  5.56  17.794286
2018-01-05  5.59  17.753571
2018-01-08  5.48  17.103571
2018-01-09  5.45  17.231429
2018-01-10  5.70  16.969286
2018-01-11  6.00  16.975714
2018-01-12  6.04  16.736429
2018-01-15  6.73  16.607857
2018-01-16  6.99  16.058571
2018-01-17  7.32  16.250714
2018-01-18  7.04  16.279286
2018-01-19  7.44  16.061429
2018-01-22  7.21  16.036429
2018-01-23  7.01  15.725000
2018-01-24  7.26  15.439286
2018-01-25  6.34  15.080714
2018-01-26  6.03  15.198571
2018-01-29  5.96  14.982857
2018-01-30  5.82  14.902857
2018-01-31  6.09  14.796429
2018-02-01  6.67  14.450714
2018-02-02  6.95  13.799286
2018-02-05  7.37  13.498571
2018-02-06  7.16  17.672143
2018-02-07  7.67  18.221429
2018-02-08  6.21  18.112143
2018-02-09  5.22  17.851429
2018-02-12  5.18  17.669286
...          ...        ...
2018-08-17  3.23  20.243571
2018-08-20  3.40  20.228571
2018-08-21  3.60  20.245714
2018-08-22  3.58  20.467143
2018-08-23  3.78  20.232857
2018-08-24  4.65  20.650000
2018-08-27  4.84  21.278571
2018-08-28  4.65  21.768571
2018-08-29  4.55  21.665714
2018-08-30  4.56  21.544286
2018-08-31  4.65  21.284286
2018-09-03  4.69  20.838571
2018-09-04  4.97  20.615714
2018-09-05  4.68  21.004286
2018-09-06  4.59  20.722143
2018-09-07  4.64  20.435714
2018-09-10  4.49  20.083571
2018-09-11  4.66  18.882143
2018-09-12  4.61  18.380000
2018-09-13  4.71  18.477857
2018-09-14  4.54  18.146429
2018-09-17  4.50  17.778571
2018-09-18  4.94  17.324286
2018-09-19  5.13  17.529286
2018-09-20  5.12  18.126429
2018-09-21  5.53  17.976429
2018-09-25  5.42  17.819286
2018-09-26  5.69  17.970000
2018-09-27  5.63  18.158571
2018-09-28  6.19  18.055714

[183 rows x 2 columns]

In [95]:
QA.QA_fetch_stock_day_adv('000001',start1,end).add_func(QA.QA_indicator_ATR)

                     TR       ATR
date       code
2018-01-02 000001   NaN       NaN
2018-01-03 000001  0.66       NaN
2018-01-04 000001  0.24       NaN
2018-01-05 000001  0.20       NaN
2018-01-08 000001  0.44       NaN
2018-01-09 000001  0.28       NaN
2018-01-10 000001  0.57       NaN
2018-01-11 000001  0.32       NaN
2018-01-12 000001  0.28       NaN
2018-01-15 000001  0.83       NaN
2018-01-16 000001  0.36       NaN
2018-01-17 000001  0.60       NaN
2018-01-18 000001  0.49       NaN
2018-01-19 000001  0.45       NaN
2018-01-22 000001  0.51  0.445000
2018-01-23 000001  0.57  0.438571
2018-01-24 000001  0.58  0.462857
2018-01-25 000001  0.64  0.494286
2018-01-26 000001  0.32  0.485714
2018-01-29 000001  0.65  0.512143
2018-01-30 000001  0.29  0.492143
2018-01-31 000001  0.52  0.506429
2018-02-01 000001  0.46  0.519286
2018-02-02 000001  0.47  0.493571
2018-02-05 000001  0.84  0.527857
2018-02-06 000001  0.62  0.529286
2018-02-07 000001  1.54  0.604286
2018-02-08 000001  0.39  0.600000
2018-02-09 000001  1.16  0.646429
2018-02-12 000001  0.28  0.625714
...                 ...       ...
2018-08-17 000001  0.16  0.238571
2018-08-20 000001  0.21  0.236429
2018-08-21 000001  0.26  0.227143
2018-08-22 000001  0.21  0.222857
2018-08-23 000001  0.19  0.222857
2018-08-24 000001  0.99  0.277857
2018-08-27 000001  0.46  0.290000
2018-08-28 000001  0.19  0.294286
2018-08-29 000001  0.18  0.283571
2018-08-30 000001  0.27  0.291429
2018-08-31 000001  0.22  0.283571
2018-09-03 000001  0.21  0.290714
2018-09-04 000001  0.48  0.305714
2018-09-05 000001  0.38  0.315000
2018-09-06 000001  0.19  0.317143
2018-09-07 000001  0.25  0.320000
2018-09-10 000001  0.23  0.317857
2018-09-11 000001  0.22  0.318571
2018-09-12 000001  0.15  0.315714
2018-09-13 000001  0.26  0.263571
2018-09-14 000001  0.17  0.242857
2018-09-17 000001  0.16  0.240714
2018-09-18 000001  0.43  0.258571
2018-09-19 000001  0.31  0.261429
2018-09-20 000001  0.17  0.257857
2018-09-21 000001  0.52  0.280000
2018-09-25 000001  0.20  0.260000
2018-09-26 000001  0.40  0.261429
2018-09-27 000001  0.27  0.267143
2018-09-28 000001  0.53  0.287143

[183 rows x 2 columns]

In [96]:
data_pa = QA.QA_fetch_stock_day_adv('000001',start1,end).data
high_pa = data_pa.high
low_pa = data_pa.low
close_pa = data_pa.close
ta.ATR(high_pa, low_pa, close_pa, 14)

date        code
2018-01-02  000001         NaN
2018-01-03  000001         NaN
2018-01-04  000001         NaN
2018-01-05  000001         NaN
2018-01-08  000001         NaN
2018-01-09  000001         NaN
2018-01-10  000001         NaN
2018-01-11  000001         NaN
2018-01-12  000001         NaN
2018-01-15  000001         NaN
2018-01-16  000001         NaN
2018-01-17  000001         NaN
2018-01-18  000001         NaN
2018-01-19  000001         NaN
2018-01-22  000001    0.445000
2018-01-23  000001    0.453929
2018-01-24  000001    0.462934
2018-01-25  000001    0.475581
2018-01-26  000001    0.464468
2018-01-29  000001    0.477721
2018-01-30  000001    0.464312
2018-01-31  000001    0.468290
2018-02-01  000001    0.467698
2018-02-02  000001    0.467862
2018-02-05  000001    0.494443
2018-02-06  000001    0.503412
2018-02-07  000001    0.577454
2018-02-08  000001    0.564064
2018-02-09  000001    0.606631
2018-02-12  000001    0.583300
                        ...
2018-08-17  000001    0.239264
2018-08-20  000001    0.237174
2018-08-21  000001    0.238804
2018-08-22  000001    0.236747
2018-08-23  000001    0.233408
2018-08-24  000001    0.287450
2018-08-27  000001    0.299775
2018-08-28  000001    0.291934
2018-08-29  000001    0.283939
2018-08-30  000001    0.282943
2018-08-31  000001    0.278447
2018-09-03  000001    0.273558
2018-09-04  000001    0.288304
2018-09-05  000001    0.294854
2018-09-06  000001    0.287364
2018-09-07  000001    0.284695
2018-09-10  000001    0.280788
2018-09-11  000001    0.276446
2018-09-12  000001    0.267414
2018-09-13  000001    0.266885
2018-09-14  000001    0.259965
2018-09-17  000001    0.252824
2018-09-18  000001    0.265480
2018-09-19  000001    0.268660
2018-09-20  000001    0.261613
2018-09-21  000001    0.280069
2018-09-25  000001    0.274350
2018-09-26  000001    0.283325
2018-09-27  000001    0.282373
2018-09-28  000001    0.300061
Length: 183, dtype: float64

In [97]:
QA.QA_indicator_ATR??

In [101]:
C = close_pa
H = high_pa
L = low_pa

In [104]:
QA.MAX(QA.MAX((H-L), QA.ABS((C.shift(1)-H))), QA.ABS((C.shift(1)-L)))

date        code
2018-01-02  000001     NaN
2018-01-03  000001    0.66
2018-01-04  000001    0.24
2018-01-05  000001    0.20
2018-01-08  000001    0.44
2018-01-09  000001    0.28
2018-01-10  000001    0.57
2018-01-11  000001    0.32
2018-01-12  000001    0.28
2018-01-15  000001    0.83
2018-01-16  000001    0.36
2018-01-17  000001    0.60
2018-01-18  000001    0.49
2018-01-19  000001    0.45
2018-01-22  000001    0.51
2018-01-23  000001    0.57
2018-01-24  000001    0.58
2018-01-25  000001    0.64
2018-01-26  000001    0.32
2018-01-29  000001    0.65
2018-01-30  000001    0.29
2018-01-31  000001    0.52
2018-02-01  000001    0.46
2018-02-02  000001    0.47
2018-02-05  000001    0.84
2018-02-06  000001    0.62
2018-02-07  000001    1.54
2018-02-08  000001    0.39
2018-02-09  000001    1.16
2018-02-12  000001    0.28
                      ...
2018-08-17  000001    0.16
2018-08-20  000001    0.21
2018-08-21  000001    0.26
2018-08-22  000001    0.21
2018-08-23  000001    0.19
2018-08-24  000001    0.99
2018-08-27  000001    0.46
2018-08-28  000001    0.19
2018-08-29  000001    0.18
2018-08-30  000001    0.27
2018-08-31  000001    0.22
2018-09-03  000001    0.21
2018-09-04  000001    0.48
2018-09-05  000001    0.38
2018-09-06  000001    0.19
2018-09-07  000001    0.25
2018-09-10  000001    0.23
2018-09-11  000001    0.22
2018-09-12  000001    0.15
2018-09-13  000001    0.26
2018-09-14  000001    0.17
2018-09-17  000001    0.16
2018-09-18  000001    0.43
2018-09-19  000001    0.31
2018-09-20  000001    0.17
2018-09-21  000001    0.52
2018-09-25  000001    0.20
2018-09-26  000001    0.40
2018-09-27  000001    0.27
2018-09-28  000001    0.53
Length: 183, dtype: float64

奇怪的事情

In [106]:
_start = '2018-01-01'
_end = '2018-10-01'
stock_list = QA.QA_fetch_stock_list_adv().index.tolist()
data_all_stock = QA.QA_fetch_stock_day_adv(stock_list, _start, _end)

使用`add_func`计算ATR

In [119]:
ind_ATR = data_all_stock.add_func(QA.QA_indicator_ATR,20)

In [120]:
ind_ATR.xs(('2018-09-28','000001'))

TR     0.5300
ATR    0.2875
Name: (2018-09-28 00:00:00, 000001), dtype: float64

直接将datastruct传到函数中去

In [110]:
QA.QA_indicator_ATR(data_all_stock).xs(('2018-09-28','000001'))

TR      6.190000
ATR    18.055714
Name: (2018-09-28 00:00:00, 000001), dtype: float64

计算单只股票的ATR

In [111]:
data_pa = QA.QA_fetch_stock_day_adv('000001', _start, _end)
data_pa.add_func(QA.QA_indicator_ATR).xs(('2018-09-28','000001'))

TR     0.530000
ATR    0.287143
Name: (2018-09-28 00:00:00, 000001), dtype: float64

In [112]:
QA.QA_indicator_ATR(data_pa).xs(('2018-09-28','000001'))

TR     0.530000
ATR    0.287143
Name: (2018-09-28 00:00:00, 000001), dtype: float64

In [135]:
ind_ATR.xs(('000001'),level=1).ATR.mean()

0.31847239263803684

In [131]:
N = 1e+4 / QA.QA_indicator_ATR(data_pa).xs(('2018-09-28','000001')).ATR / 100

In [133]:
N * data_pa.close.iloc[-1] * 100

384825.87064676645

hs300

In [123]:
hs300_code_list = ts.get_hs300s().code.tolist()

In [125]:
data_hs300 = QA.QA_fetch_stock_day_adv(hs300_code_list, start, end)

In [126]:
ind_ATR_hs300 = data_hs300.add_func(QA.QA_indicator_ATR)

In [136]:
ind_ATR_hs300.ATR.mean()

0.7357312056714892